@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    font-weight: 300;
    color:  rgba(51, 51, 51, 1.00);
    line-height: 1.5em;
    counter-reset: section;
    counter-reset: toc-section;
    counter-increment: toc-section;
    hyphens: auto;
}

a, a:visited {
    text-decoration: none;
    color: rgba(48,63,159, 1.00);
}
a:hover {
    text-decoration: underline rgba(48,63,159, 1.00);
    color: rgba(48,63,159, 1.00);
}
.org-bold {
    font-weight: 500;
}
i, i a {
    color: rgba(51, 51, 51, 1.00);
}
.org-italic, .org-org-meta-line {
    color: rgba(51, 51, 51, 1.00);
}
.org-face-salient {
    font-weight: 400;
}

/* --- Side notes --- */
div.side-note::before {
    content: "Note";
    color: rgba(0,0,0,.75);
    font-weight: 400;
}
div.side-note {
    color: rgba(0,0,0,.5);
    float: left;
    font-size: .85em;
    line-height: 1.25em;
    margin-left: -24em;
    width: 20em;
}

/* --- Table of contents --- */
#table-of-contents {
    padding-top: 0em;
    margin-top: 0em;
    text-transform: uppercase;
}
#table-of-contents ul {
    padding: 0;
    font-weight: 400;
    list-style: none;
    counter-reset: list 0;
}
#table-of-contents ul ul {
    padding-left:0em;
    font-weight: 400;
    font-size: 90%;
    line-height: 1.5em;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: 2em;
}
#table-of-contents h2:before {
    content: "";
    counter-reset: section;
}
#table-of-contents ul li {
    vertical-align: top;
    display: inline-block;
    width: 32%;
}
#table-of-contents ul li:before {
    display: inline-block;
    counter-increment: list;
    content: counters(list, ".") ".";
    width: 2.0em;
    margin-left: -2.0em;
    text-align: right;
    text-transform: uppercase;
    color:#2255bb;
}
#table-of-contents ul li ul,
#table-of-contents ul li ul li {
    display: static;
    width: 100%;
    padding-left: 0;
    line-height: 1.35em;
}
#table-of-contents ul li ul li:before {
    content: ""
}
#table-of-contents h2 {
    font-size: 1em;
    font-weight: 400;
    padding-top: 5em;
}
#table-of-contents h2:before {
    content: "->";
}

blockquote {
    color: #999999;
    padding-top: 0;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 3px solid #aaaaaa;
}

ul.org-ul {
    padding-left: 0
}
ul.org-ul li  {
    list-style-type: none;
    margin-bottom: .5em;
}

ul.org-ul li p {
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
}

ul.org-ul li::before {
    display: inline-block;
    content: "- ";
    width: 1em;
    margin-left: 1rem;
}

ol.org-ol {
    padding-left: 0;
    margin-left: 2em;
    list-style: none;
    counter-reset: li;
}
.org-ol li  {
    counter-increment: li;
    margin-bottom: .25em;
}
.org-ol li::before {
    content: counter(li) ". ";
    color: #999999;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
}

#content, #postamble {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#postamble {
/*    border-top: 1px solid #999999; */
    padding-top: 1.5em;
}
#postamble p, #postamble a {
    color: #999999;
    line-height: 1.25em;
    margin: 0;
    text-align: right;
}

h1.title {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0em;
    font-weight: 500;
    text-align: left;
}

span.subtitle {
    display: inline-block;
    margin-top: .25em;
    font-size: 74.5%;
    font-weight: 300;
    color: black;
}

h1, h2, h3, h4 {
    color: black;
    font-size: 1.0em;
    font-weight: 500;
}
h1 {
    text-transform: uppercase;
}
h2 {
    /* text-transform: uppercase; */
    padding-top: 2em;
}
h3 {
    padding-top: 1em;
    color:  rgba(51, 51, 51, 1.00);
    font-size: 1.0em;
    font-weight: 500;
}

body {
  counter-reset: section;
}
h2 {
  counter-reset: subsection;
}
h2::before {
    color: #aaaaaa;
    float: left;
    text-align: right;
    font-weight: 300;
    width: 7.5em;
    margin-left: -8.0em;
    counter-increment: section;
    content: counter(section) " "; /* "Section " counter(section) " "; */
}

h3::before {
    color: #aaaaaa;
    float: left;
    text-align: right;
    font-weight: 300;
    width: 2.5em;
    margin-left: -3.0em;
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

code {
    background-color: #f9f9f9;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

pre::before {
    color: #aaaaaa;
    float: left;
    text-align: right;
    font-weight: 400;
    width: 3.0em;
    margin-left: -4.25em;
    font-variant: small-caps;
    content: "";
}
pre.src-lisp::before { content: "lisp"; }
pre.src-org::before { content: "org"; }


pre {
    color: rgba(51, 51, 51, 0.50);
    background-color: #fbfbfb;
    overflow: auto;
    margin: 0em;
    padding: 0.25em;
    padding-left: 0.5em;
    line-height: 1.35em;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    border-left: 2px dotted #00008b;
}

/* --- Code folding --- */
details {
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding:  0.25em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    font-size: 0.85em;
    cursor: pointer;
}
details pre {
    border: 1px;
}
summary {
    color: rgba(51, 51, 51, 0.50);
}
summary::after {
    font-size: 0.85em;
    display: inline-block;
    float: right;
    padding-right:  0.5em;
}
news details {
    background: none;
    border: 0;
    padding:  0.25em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-left: 20px;
    font-size: 1.0em;
}
news summary {
    margin-left: -17px;
    font-size: 1.0em;
    color: rgba(51, 51, 51, 1.00);
}
news details summary::marker {
    display:none;
}
news details summary { list-style-type: none; } /* Firefox */
news details summary::-webkit-details-marker { display: none; } /* Chrome */
* {-webkit-font-smoothing: antialiased;}

news summary::after {
    content: "";
}

/* --- Table --- */
table, tbody, td, tr, th, colgroup, thead {
    border: 0;
}
table {
    min-width: 20%;
    margin-top: 1em;
}
thead {
    border-bottom: 1px dashed black;
}
th {
    text-align: left;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}
td {
    padding: 30px;
    padding-top: 0;
    padding-left: 0;
}

tr:nth-child(even) {background: #f9f9f9;}
tr:nth-child(odd) {background: #ffffff;}
tbody {
/* border-bottom: 1px solid black; */
}

/* --- Description list --- */
dd {
    margin-top: 0.25em;
    margin-bottom: 0.50em;
}

/* --- Back links in header --- */
div.back a {
    float: right;
    font-weight: 400;
    color: #aaaaaa;
    text-transform: uppercase;
    margin-top: -2.5em;
}
/* h2 { border-bottom: .5px solid #999999; } */


/* Image sliders */
.wrapper {
	position: relative;
	width: 500px;
	height: 290px;
  margin-top: 2rem;
  margin-bottom: 1rem;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

input {
	appearance: none;
	z-index: 100;
	margin-right: 1rem;
  margin-bottom: 0;
	width: 0.5rem;
	height: 0.5rem;
	background: rgba(51, 51, 51, 1.00);
  opacity: 0.2;
	border-radius: 0.5rem;
  cursor: pointer;
}

input:checked {
  opacity: 0.7;  
}

input + * {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
  transform: translateX(100%);
}

input + *[aria-label]:before {
	content: attr(aria-label);
	position: absolute;
	bottom: 0;
  left: 0;
  width: 500px;
  height: 2rem;
  text-align: center;
  vertical-align: top;
	font-size: 0.8rem;
	color: rgba(51, 51, 51, 1.00);
	z-index: 1;
	padding: .2rem;
	background-color: rgba(255, 255, 255, 1.00);
}

input:checked + * {
	transform: translateX(0);
	z-index: 1;
}
